<a href="https://colab.research.google.com/github/dedipyabangaru-356/python-new/blob/Module_2/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
setf={"plums","peach","jack fruit"}
print(setf)

{'jack fruit', 'plums', 'peach'}

In [ ]:
#you cannot change set values and duplicates are not allowed
setk={"BTS","EXO","TXT","GOT7","NCT"}
print(len(setk))
#it can be any datatypes
seti={7,17,5,4,1}
sets={"voy","oui","voy","oh"}
setb={True,False,True}
print(seti,sets,setb)
#sets can be in combination of datatypes
seta={"are","you",19,"is","it",True}
print(type(seta))
#you can make a set using two round bracketts
a=set(("hemika","harshitha","manashwini"))
print(a)
print(type(a))

5
{1, 4, 5, 7, 17} {'oui', 'oh', 'voy'} {False, True}
<class 'set'>
{'hemika', 'manashwini', 'harshitha'}
<class 'set'>

In [ ]:
'''ACCESS SET ITEMS'''
#you can loop through the set and print values
setk={"BTS","EXO","TXT","GOT7","NCT"}
for a in setk:
#it is unordered
  print(a)
print("BTS"in setk)

NCT
GOT7
BTS
TXT
EXO
True

In [ ]:
'''ADD SET ITEMS'''
ch=set(("jst jelly","candy"))
ch.add("dairy milk")
print(ch)
co=set(("5star","bounville","munch"))
#update is used to combine sets
ch.update(co)
print(ch)
# you can transfer list items to set
listc=["kit kat","kopico"]
ch.update(listc)
print(ch)

{'jst jelly', 'candy', 'dairy milk'}
{'bounville', 'jst jelly', 'dairy milk', 'munch', '5star', 'candy'}
{'bounville', 'jst jelly', 'dairy milk', 'munch', 'kopico', 'kit kat', '5star', 'candy'}

In [ ]:
'''REMOVE SET ITEMS'''
#remove
ch=set(('bounville', 'jst jelly', 'dairy milk', 'munch', 'kopico', 'kit kat', '5star', 'candy'))
ch.remove('jst jelly')
print(ch)#if the item to remove does not exist it shows error
#discard does not show error like remove
ch.discard('coco')
print(ch)
#you don't know which item gets removed when you use pop()
p=ch.pop()
print(p)#removed item
print(ch)#the set after removing
#clear is used to empty the set
co=set(("5star","bounville","munch"))
co.clear()
print(co)
#del is used to delete the set

{'bounville', 'candy', 'kopico', 'dairy milk', 'kit kat', '5star', 'munch'}
{'bounville', 'candy', 'kopico', 'dairy milk', 'kit kat', '5star', 'munch'}
bounville
{'candy', 'kopico', 'dairy milk', 'kit kat', '5star', 'munch'}
set()

In [ ]:
'''LOOP SETS'''
setk={"BTS","EXO","TXT","GOT7","NCT"}
for a in setk:
#it is unordered
  print(a)

GOT7
EXO
NCT
BTS
TXT

In [ ]:
'''JOIN SETS'''
m={"ill","with","you"}
jm={"beright","gwenchana"}
jmm=m.union(jm)
print(jmm)
#we can also use update to join sets
m.update(jm)
print(jmm)
#union and update will exclude any duplicates

{'with', 'you', 'gwenchana', 'ill', 'beright'}
{'with', 'you', 'gwenchana', 'ill', 'beright'}

In [ ]:
'''TO keeping only DUPLICATES'''
 f= {""}